.rules-box h3 {
  text-align: center; }

.rules-box p {
  margin-left: 10%;
  margin-right: 10%; }

.rules-box h3 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem; }

.rules-box p {
  font-size: 1.4rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

* {
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  list-style: none;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  background-color: antiquewhite; }
  body::-webkit-scrollbar {
    width: 0.5rem; }
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
  body::-webkit-scrollbar-thumb {
    background-color: darkgray;
    outline: 1px solid #908370; }

#index-page {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: "header" "main" "main-index" "footer";
  grid-template-rows: 4rem; }
  #index-page header {
    grid-area: header; }
  #index-page .main-encabezado {
    grid-area: main; }
  #index-page main {
    grid-area: main-index;
    height: auto; }
  #index-page footer {
    grid-area: footer; }

main {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-areas: "main-top" "img" "media"; }
  main div.main-index-text {
    text-align: center;
    width: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    padding-bottom: 3rem; }
  main .container-img-index .img-index .container-img {
    display: flex;
    flex-direction: column;
    background-color: #f09819;
    border-radius: 15px 15px;
    padding-top: 5%;
    padding-bottom: 40%;
    margin-top: auto;
    height: auto; }
    main .container-img-index .img-index .container-img p {
      height: 2rem; }
  main div.container-img-index {
    display: flex;
    justify-content: center; }
  main div.img-index {
    background-color: rgba(0, 0, 0, 0);
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 5%;
    margin-bottom: 3rem; }
  main .rules-box {
    width: 90%;
    height: 400px;
    background-color: #dad1c8;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    padding-top: 1.5rem;
    border-radius: 15px; }
    main .rules-box h4 {
      height: 3rem;
      font-size: 1.5rem;
      text-align: center; }
    main .rules-box p {
      margin-left: 5%;
      margin-right: 5%;
      height: 60%; }
    main .rules-box .button-rules-box {
      float: right;
      padding-right: 2rem;
      padding-bottom: 1.7rem; }
      main .rules-box .button-rules-box button {
        padding: 1rem;
        background-color: #ffffff;
        border-radius: 35px; }

.img {
  grid-area: img; }

div.videohome {
  grid-area: media; }

header nav {
  background-color: black;
  height: 80px;
  width: 100%;
  border-bottom: #a6a6a6 1px solid; }

.enlace-logo {
  position: absolute;
  padding: 0px 50px; }

.logo {
  height: 80px; }

.navheader ul {
  float: right;
  margin-right: 1.5rem; }
  .navheader ul li a {
    color: #fff;
    font-size: 20px;
    font-family: 'Oswald', sans-serif !important;
    padding: 7px 20px;
    border-radius: 2px;
    text-transform: none; }
    .navheader ul li a:hover {
      background: #cc7b00;
      transition: .5s; }

.ulmenu {
  display: inline-block;
  line-height: 5rem;
  margin: 0.5px;
  height: calc(100vh - 80px); }

.current-page {
  text-align: center;
  width: 100%;
  display: none; }

.checkbtn {
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none; }

#check {
  display: none; }

.encabezado {
  text-align: center;
  margin-bottom: 40px; }
  .encabezado p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-left: 15%;
    margin-right: 15%; }
  .encabezado h3 {
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px; }

.main-encabezado {
  padding: 40px 0;
  font-family: 'Oswald', sans-serif !important; }

div.bloque {
  width: 225px;
  height: 35px;
  line-height: 35px;
  border-radius: 75px 75px;
  background-color: #e4e4e4;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 75px; }

.container-img {
  display: flex;
  overflow: hidden;
  padding: 5px;
  align-items: center;
  row-gap: 1rem; }
  .container-img img {
    justify-content: center;
    border-radius: 15px 15px;
    width: 90%;
    height: 80%;
    object-fit: cover; }
  .container-img p {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important; }

.videohome {
  height: 100%;
  width: 100%;
  padding: 25px; }
  .videohome h2 {
    text-align: center; }

.wrappervideo {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%;
  margin-top: 2rem;
  height: 0;
  width: auto; }
  .wrappervideo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

footer {
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  footer .footer-icons {
    margin-top: 4rem;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row; }
  footer .derechos {
    background-color: #f09819; }
  footer a {
    color: black;
    padding-left: 1rem;
    padding-right: 1rem; }
  footer p a {
    color: #c85000; }

.border-r {
  margin: auto;
  margin-top: 80px;
  width: 80%; }

.divider {
  position: relative;
  margin-top: 10px;
  height: 1px; }

.div-transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(to right, transparent, #303133, transparent); }

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px; }
  .image-gallery > li {
    flex-basis: 350px;
    position: relative;
    cursor: pointer;
    transition: all .2s ease-in-out; }
  .image-gallery li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: block; }
  .image-gallery li:hover {
    transform: scale(1.5);
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative; }
  .image-gallery::after {
    content: "";
    flex-basis: 350px; }

.encabezado-cmm {
  margin-left: 1.5rem;
  margin-top: 1.5rem; }

.encabezado-cmm#cmm1 h3 {
  font-size: 2rem;
  padding-bottom: 25px;
  font-weight: bold; }

.encabezado-cmm#cmm1 p {
  width: 80%;
  padding-bottom: 25px;
  height: auto;
  font-size: 1.2rem; }

.main-button-cmm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px; }

.caja-botones-cmm {
  display: flex;
  column-count: 2;
  width: 18rem;
  height: 100px;
  justify-content: center;
  align-items: center;
  margin: 25px; }

.botones-cmm {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  overflow: hidden;
  width: 100%;
  margin: 0 auto; }

#servidores-page {
  display: grid;
  grid-template-areas: "header" "sv-main" "footer";
  grid-template-rows: 4; }
  #servidores-page header {
    grid-area: header; }
  #servidores-page .section-sv-main {
    grid-area: sv-main; }
  #servidores-page footer {
    grid-area: footer; }

.sv-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%; }
  .sv-main .sv-content img {
    width: 100%;
    border-radius: 15px 15px 0px 0px; }

.sv-content {
  width: 300px;
  height: 400px;
  background-color: #dacab4;
  border-style: solid;
  border-radius: 20px;
  border-color: darkgrey;
  border-width: 4px;
  margin: 15px;
  transition: 0.5s;
  box-shadow: 5px #000; }
  .sv-content:hover {
    transform: scale(1.1); }
  .sv-content h3 {
    padding-left: 1rem;
    height: 8.5rem;
    overflow: hidden; }
  .sv-content p {
    padding-left: 1rem;
    height: 8.5rem;
    overflow: hidden;
    padding-top: 1.3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 1.2rem; }

.hover-card-1 {
  transition: 0.2s; }
  .hover-card-1:hover {
    transform: scale(1.1); }

.text-custom-1 {
  color: #E62C03;
  font-weight: bold; }

.border-custom-1:hover {
  box-shadow: #fd2424 0px 30px 60px -12px inset, rgba(255, 0, 0, 0.3) 0px 18px 36px -18px inset !important;
  box-shadow: rgba(255, 0, 0, 0.56) 0px 22px 70px 4px !important; }

.button-sv {
  margin: 15px;
  padding: 15px 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 100% auto;
  color: white;
  border-radius: 25px;
  border: 0px;
  font-weight: 500;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation; }
  .button-sv:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none; }
  .button-sv:active {
    transform: scale(0.95); }

.wbox-button {
  display: flex;
  justify-content: flex-end; }

.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto; }
  .button-5:hover {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    transform: translateY(-1px); }
  .button-5:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px; }
  .button-5:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    transform: translateY(0); }

.button-game {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  margin-bottom: 3rem;
  margin-top: -3rem; }

.button-42 {
  background-color: initial;
  background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif !important;
  height: 30px;
  line-height: 30px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  z-index: 9;
  border: 0; }
  .button-42:hover {
    box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px; }

.bg-color-my-p {
  background-color: black; }

.navbar-nav a {
  border-radius: 25px; }

.nav-hover-p:hover {
  background: #cc7b00;
  transition: .5s; }

.active {
  color: #eebe76 !important; }

.discord-text-pers {
  color: #7289da; }
  .discord-text-pers:hover {
    border-bottom: #7289da 2px solid; }

.overlay {
  position: absolute; }
  .overlay p {
    color: white;
    font-size: 1.5rem;
    text-shadow: 0 0 5px #000, 0 0 20px #000;
    inset: 0 0 5px #000,0 0 20px #000;
    font-weight: bold; }

@media only screen and (min-width: 320px) and (max-width: 425px) {
  .button-game {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    column-gap: 1rem;
    row-gap: 1.2rem;
    margin-bottom: 3rem;
    margin-top: -3rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto; }
  .checkbtn {
    display: block; }
  .enlace-logo {
    padding-left: 20px; }
  header {
    position: sticky;
    top: 0;
    z-index: 100; }
  .ulmenu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: gray;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    display: block;
    z-index: 100; }
  #check:checked ~ ul {
    left: 0; }
  hr .border-r {
    display: none; }
  .current-page {
    display: none; } }

@media only screen and (min-width: 769px) {
  div.bloque {
    width: 225px;
    height: 35px;
    line-height: 35px;
    border-radius: 75px 75px;
    background-color: #e4e4e4;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 3rem; }
  .encabezado h3 {
    font-size: 46px;
    text-align: center;
    margin-bottom: -25px; }
  .encabezado p {
    width: 60%;
    margin-left: 20%;
    height: auto;
    font-size: 23px; }
  .encabezado .p-choose-g {
    height: auto; }
    .encabezado .p-choose-g p {
      height: auto; }
  .ulmenu {
    display: inline-block;
    line-height: 5rem;
    margin: 0.5px;
    height: auto; }
    .ulmenu li {
      display: inline-block; }
  .navheader ul li a {
    color: #a6a6a6; }
  .current-page {
    display: none; }
  .videohome {
    width: 50%;
    height: 50%; }
  main div.container-img-index {
    display: flex;
    justify-content: center;
    height: auto; }
  main div.img-index {
    background-color: rgba(0, 0, 0, 0);
    width: 80%;
    height: 100%;
    flex-direction: row; }
  main div .main-index-text {
    text-align: center;
    font-size: 1.4rem;
    padding-bottom: 3rem; }
  main .container-img-index .img-index .container-img {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
    padding: 15px 0px; }
    main .container-img-index .img-index .container-img p {
      text-align: center;
      font-size: 1.2rem;
      padding: 1.2rem;
      height: 150px; }
  .container-img {
    display: flex;
    overflow: hidden;
    padding: 5px;
    align-items: center;
    row-gap: 1rem; }
    .container-img img {
      justify-content: center;
      width: 90%;
      height: 80%;
      object-fit: cover; }
    .container-img p {
      width: 80%; }
  .media-index {
    text-align: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    justify-content: center; }
  div.main-encabezado div.encabezado p {
    width: 60%; } }

@media only screen and (min-width: 426px) and (max-width: 768px) {
  hr .border-r {
    display: none; }
  main .container-img-index .img-index .container-img {
    height: 650px; }
    main .container-img-index .img-index .container-img p {
      padding-left: 20%;
      padding-right: 20%;
      font-size: 1.1rem; }
  #index-head-1 div h3 {
    font-size: 3rem; }
  .encabezado h2 {
    font-size: 2rem; }
  .encabezado p {
    font-size: 1.2rem; } }
