%flex{
    display: flex;
}

%center-cont{
    justify-content: center;
    align-content: center;
}

%center-text{
    text-align: center;
}

%margin-x-5{
    margin-left: 5%;
    margin-right: 5%;
}

%margin-x-10{
    margin-left: 10%;
    margin-right: 10%;
}

%margin-x-20{
    margin-left: 20%;
    margin-right: 20%;
}

